@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.sidebar-item.bg-primary {
    border-radius: 12px !important;
    box-shadow: 0 2px 8px rgba(37, 99, 235, 0.08);
    transition: background 0.2s, box-shadow 0.2s;
}